.form {
  width: 45%;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid green;
}
.red {
  border: 2px solid red;
}
.error {
  color: red;
}
button {
  width: 100px;
  margin: 10px 0;
}
button:disabled {
  opacity: 0.25;
}
.inp {
  margin: 10px;
}
.span {
  display: inline-block;
  width: 80px;
}
.title {
  display: inline-block;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 1.5rem;
  padding: 10px;
}
.correct {
  background: #e9ffbe;
}

